<div id="noFound" class="py-5">

    <div class="container">
        <h1>Page Not Found</h1>
        <p>
            <span class="text-black">w</span>e cant the page you're looking for.you can either return
            to the previous page , visit our homePage or contact our support team
        </p>

        <button (click) = "getHome()" class="btn btn-primary " >Visit HomePage</button>
        <button (click) = "getContact()" class="btn bg-transparent border border-primary text-primary" >Contact Us</button>
    </div>
    

</div>
