@import '../colors';

#portfolio{
    .forAnimate{
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($navColor,0.75);
        opacity: 0;
        transition: 0.4s;
        @extend img;
    }
    .portContainer{
        &:hover{
            .forAnimate{
                opacity: 1;
            }
        } 
    }
    .star{
        font-weight: bolder;
        color: $mainColor;
        div{
            background-color: $mainColor;
        }
    }
    h2{
        @extend .star;
        margin-top: 60px;
        font-size: 3rem;
    }
    img{
        border-radius: 10px;   
    }
}
  
    .modal-backdrop{
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
    }
    .modal-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal-header{
        border-bottom: none !important;
        span{
            font-size: 4rem !important;
            color: $navColor;

        }

        
    }
    .details{
        width: 87%;
    }
    @media (min-width: 576px)
    {
        .modal-dialog{
            max-width: 90% !important;
        }
        .modal-body{
            .font-weight-bolder{
                font-size: 1.7rem !important;
            }
        }
        
    }









