<section id="home" class = "d-flex flex-column justify-content-center align-items-center">
    <div class="imageContainer">
        <img src="assets/images/avataaars.png" alt="" class = "img-fluid">
    </div>
    <h1>START ANGULAR</h1>
    <div class="star d-flex align-items-center mb-4">
        <div class="rounded"></div>
        <i class="fas fa-star text-white fa-2x mx-3"></i>
        <div class="rounded"></div>
    </div>
    <p class="text-white text-center pb-3">Graphic Artist - Web Designer - Illustrator</p>
</section>
